@import 'app-bootstrap';
@import 'app-mixins';
@import 'app-variables';

h1 {
    width: 97%;
    font: 100% $font-stack;
    .redbox {
        background-color: #ff0000;
        @include border-radius(10px);
    }
}
